#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  /*font-family: 'Montserrat-Black';*/
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  /*font-family: 'PT Serif', serif;*/
  font-size: 3rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #fff;
  line-height: 1.5;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* navigator bar */
.navbar-brand {
  font-family: 'Ubuntu', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.container-fluid {
  padding: 3% 15%;
}

.btn {
  font-family: 'Ubuntu', sans-serif;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.dog-name {
  color: #fff;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
